@font-face {
    font-family: "Open Sans";
    src: url(open-sans.ttf);
}
#logoBack {
    position: absolute;
    width: 403px;
}
#logo {
    width: 77px;
    height: 41px;
    color: #3687c4;
    font-family: "Open Sans";
    font-size: 41px;
    font-weight: 400;
    line-height: 34px;  
    position: relative;
    left: 163px;  
    top: 31px;
    margin: 0;
}
button {
    height: 85px;
    background-color: #ffffff;
    border-right: 1px solid #eceef4;
    border-left: 1px solid #eceef4;
    border-top: none;
    border-bottom: none;
}
#menubank {
    position: absolute;
}
#search {
    display: flex;
    align-items: center;
}
#searchField {
    height: 25px;
    margin-left: 7px;
    padding: 6px;
    align-self: center;
    color: #6d6e71;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    border: none;
}
#main {
    position: absolute;
    padding: 0;
}
#mainText{
    width: 672px;
    height: 43px;
    height: min-content;
    text-shadow: 1px 1px 8px rgba(1, 1, 1, 0.15);
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 58px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 244px;
}
#and {
    position: absolute;
    top: 275px;
}
#smallText{
    text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.15);
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 45px;
    font-weight: 300;
    line-height: 80.58px;
    position: absolute;
    top: 308px;
}
#articles {
    display: flex;
    position: relative;
}
#lampArticle {
    position: absolute;
}
#treeArticle {
    position: absolute;
}
#lampArticle span {
    width: 243px;
    height: 20px;
    color: #6d6e71;
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 700;
    line-height: 24px;
    position: absolute;
    margin: 0;
    top: 20px;
    left: 137px;
}
#treeArticle span {
    width: 170px;
    height: 26px;
    color: #6d6e71;
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 700;
    line-height: 24px;
    position: absolute;
    margin: 0;
    top: 23px;
    left: 135px;
}
#lampArticle p {
    color: #6d6e71;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: justify;
    position: absolute;
    margin: 0;
}
#treeArticle p {
    color: #6d6e71;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: justify;
    position: absolute;
    margin: 0;
}

@media screen and (min-width: 1345px) {
    body {
        width: 2000px;
    }
    #main {
        background-image: url(iback.png);
        width: 2000px;
        height: 885px;
        top: 303px;
    }
    #infoIcons {
        display: flex;
        align-items: center;
        width: 181px;
        justify-content: space-around;
        position: absolute;
        left: 1372px;
        top: 131px;
    }
    .border {
        width: 1px;
        height: 24px;
        background-color: #bcbec3;    
    }
    #logoBack {
        height: 93px;
        background-image: url(logo.png);
    }
    #mainmenu {
        display: none;
    }
    #logoBack {
        left: 403px;
        top: 61px;
    }
    #menubank {
        width: 2001px; 
        top: 217px;
        height: 86px;         
        border-top: 1px solid #eceef4;
        border-bottom: 1px solid #eceef4;  
        display: flex; 
        align-items: center; 
    }
    #mainText{
        left: 617px;
    }
    #and {
        left: 623px;
    }
    #smallText{
        left: 724px;
    }
    #menubank span {
        color: #6d6e71;
        font-family: "Open Sans";
        font-size: 13px;
        font-weight: 700;
        line-height: 27px;    
    }
    .arrow-up {
        width: 0; 
        height: 0; 
        border-left: 17.5px solid transparent;
        border-right: 17.5px solid transparent;  
        border-bottom: 8px solid #1faae2;
        position: absolute;
        top: 80px;
        display: none;
    }
    #home {
        border-left: none;
        width: 77px;
        margin-left: 419px;
        text-transform: uppercase;
    }
    #home .arrow-up {
        margin-left: 14px;
    }
    #home span:last-child {
        width: 39px;
        height: 9px;
    }
    #whatAbout {
        width: 163px;
    }
    #whatAbout .arrow-up {
        margin-left: 60px;
    }
    #whatAbout span:last-child {
        width: 122px;
        height: 10px;
    }
    #whatWeDo {
        width: 135px;
    }
    #whatWeDo .arrow-up {
        margin-left: 45px;
    }
    #whatWeDo span:last-child {
        width: 86px;
        height: 10px;
    }
    #ourProjects {
        width: 133px;
    }
    #ourProjects .arrow-up {
        margin-left: 44px;
    }
    #ourProjects span:last-child {
        width: 81px;
        height: 13px;
    }
    #exellentTeam {
        width: 151px;
        text-transform: capitalize;
    }
    #exellentTeam  .arrow-up {
        margin-left: 55px;
    }
    #exellentTeam span:last-child {
        width: 97px;
        height: 10px;
    }
    #contact {
        width: 105px;
        border-right: none;
        text-transform: capitalize;
        margin-right: 159px;
    }
    #contact .arrow-up {
        margin-left: 30px;
    }
    #contact span:last-child {
        width: 51px;
        height: 9px;
    }
    .pop {
        position: absolute;
        bottom: 44px;
        display: none;
    }
    .pop span {
        color: #6d6e71;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 300;
        line-height: 27px;
        position: absolute;
        top: 15px;
    }
    #iconTube + .pop {
        right: 50px;
    }
    #iconTube + .pop span{
        left: 40px;
    }
    #iconMark + .pop {
        right: -23px;
    }
    #iconMark + .pop span{
        left: 23px;
    }
    #iconMail + .pop {
        left: 43px;
    }
    #iconMail + .pop span{
        left: 54px;
    }
    .infoIcon:hover path{
        fill: #1faae2;
    }
    .infoIcon:hover + .pop {
        display: block;
    }
    #menubank button:hover > span:first-child {
        display: block;
    }
    #menubank button:hover > span:last-child {
        color: #1faae2;
    }
    #design {
        display: flex;
        position: absolute;
        top: 520px;
        left: 825px;
    }
    #next {
        width: 111px;
        height: 241px;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .likeBack {
        width: 322px;
        height: 65px; 
        position: absolute;
        bottom: 5px;
        opacity: 0.8;
        display: flex;
        justify-content: center;           
    }
    #greenLikeBack{
        background-color: #8aca51;
    }
    #yellowLikeBack{
        background-color: #feeb75;
    }
    #arrow {
        width: 23px;
        font-size: 40px;
        color: #d4d4d4;    
    }
    #articles {
        top: 1188px;
        height: 512px;
    }
    #lampArticle {
        top: 30px;
        left: 420px;
    }
    #treeArticle {
        top: 30px;
        right: 841px;
    }
    #lampArticle p {
        width: 386px;
        height: 233px;
        top: 68px;
        left: 136px;
    }
    #treeArticle p {
        width: 385px;
        height: 133px;
        top: 71px;
        left: 130px;
    }
}
@media screen and (max-width: 1345px) {
    body {
        width: 1345px;
    }
    #infoIcons, #menubank button, #design {
        display: none;
    }
    #main {
        background-image: url(ibackmin.png);
        width: 1345px;
        height: 736px;
        top: 97px;
    }
    #logoBack {
        height: 89px;
        background-image: url(logomin.png);
    }
    #mainmenu {
        height: 56px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: none;
        position: absolute;
        top: 21px;
    }    
    #mainmenu span{
        width: 60px;
        height: 10px;
        background-color: #3687c4;
        margin: 0;
    }
    #logoBack {
        left: 454px;
        top: -11px;
    }
    #menubank {
        border: none;    
    }
    #search {
        position: absolute;
        top: 21px;
        left: 1106px;
    }
    #mainText{
        left: 290px;
    }
    #and {
        left: 296px;
    }
    #smallText{
        left: 394px;
    }
    #articles {
        top: 833px;
        height: 447px;
        flex-direction: column;
    }
    #lampArticle {
        top: 26px;
        left: 215px;
    }
    #treeArticle {
        top: 203px;
        left: 215px;
    }
    #lampArticle p {
        width: 779px;
        height: 70px;
        top: 68px;
        left: 136px;
        overflow: hidden;
    }
    #treeArticle p {
        width: 785px;
        height: 65px;
        top: 71px;
        left: 130px;
    }
}